apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: immich
  namespace: immich
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`immich.apps.house.simonellistonball.com`)
      services:
        - name: immich-server
          port: 2283
  tls:
    secretName: immich-tls
