apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: gitea
  namespace: gitea
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`gitea.apps.house.simonellistonball.com`)
      services:
        - name: gitea-http
          port: 3000
  tls:
    secretName: gitea-tls
